@font-face {
    font-family: 'MonumentExtended';
    src: url('./fonts/MonumentExtended-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'MonumentExtended';
    font-weight: bold;
    src: url('./fonts/MonumentExtended-Ultrabold.otf') format("opentype");
}

body {
    margin: 0;
    font-family: 'MonumentExtended', -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }